# Byte-compiled / cached
__pycache__/
*.py[cod]

# Virtual environment
pyvenv
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables / credentials
.env
.venv

# Logs and temporary files
*.log
*.tmp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db
